<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="5 seconds">
    <contextName>xharbor</contextName>
    <jmxConfigurator/>
    <!-- direct log messages to stdout -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %5p |-%c{35}:%L - %m %n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/logs/gateway.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${user.dir}/logs/bak/gateway.%d{yyyy-MM-dd}.%i.log.gz</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>1024MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %5p |-%c{35}:%L - %m %n</pattern>
        </encoder>
    </appender>

    <appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/logs/gateway-error.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${user.dir}/logs/bak/gateway-error.%d{yyyy-MM-dd}.log.gz</FileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %5p |-%c{35}:%L - %m %n</pattern>
        </encoder>
    </appender>

    <appender name="timeoutLogger" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/logs/timeout.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${user.dir}/logs/bak/timeout.%d{yyyy-MM-dd}.log.gz</FileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %5p |-%c{35}:%L - %m %n</pattern>
        </encoder>
    </appender>

    <appender name="ipLogger" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/logs/ip.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${user.dir}/logs/bak/ip.%d{yyyy-MM-dd}.log.gz</FileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %5p |-%c{35}:%L - %m %n</pattern>
        </encoder>
    </appender>

<!--     <appender name="jOceanLogAppender" class="ch.qos.logback.ext.spring.DelegatingLogbackAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
 -->
<!--     <logger name="org.jocean" level="TRACE"/>
 -->
    <logger name="io.netty" level="DEBUG"/>
    <logger name="org.jocean.http.util" level="INFO"/>
    <logger name="org.jocean.http.util.RxNettys" level="INFO"/>
    <logger name="org.apache.zookeeper" level="WARN"/>
    <logger name="org.jocean.xharbor" level="TRACE"/>
    <logger name="org.springframework" level="INFO"/>
        
    <logger name="timeoutLogger" level="INFO" additivity="false">
        <appender-ref ref="timeoutLogger"/>
    </logger>

    <logger name="ipLogger" level="INFO" additivity="false">
        <appender-ref ref="ipLogger"/>
    </logger>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="file"/>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="stdout"/>
        <appender-ref ref="ASYNC"/>
        <appender-ref ref="errorFile"/>
<!--         <appender-ref ref="jOceanLogAppender"/>
 -->    </root>
</configuration>
